<div class="container">
    <h1>Update Vehicle</h1>
    <div class="message-container">
        <% if (messages && Array.isArray(messages) && messages.length > 0) { %>
          <% messages.forEach(message => { %>
            <div class="flash-<%= message.type %>">
              <ul>
                <%- message.text %>
              </ul>
            </div>
          <% }) %>
        <% } %>
        
        <% if (errors && Array.isArray(errors) && errors.length > 0) { %>
          <% errors.forEach(error => { %>
            <div class="error">
              <%= error.msg %>
            </div>
          <% }) %>
        <% } %>
      </div>

<div class="form-container">
    <form id="updateVehicleForm" action="/inv/update" method="post">
        <p><b>All fields are required.</b></p>
        <fieldset>
        <div class="form-group">
            <label for="classificationList">Classification:</label>
            <%- classificationSelect %>
        </div>
        <div class="form-group">
            <label for="inv_make">Make:</label>
            <input 
                type="text" 
                id="inv_make" 
                name="inv_make" 
                placeholder="Min of 3 characters" 
                required 
                pattern="^[a-zA-Z]{3,}$"
                value="<%= locals.inv_make %>">
        </div>
        <div class="form-group">
            <label for="inv_model">Model:</label>
            <input 
                type="text" 
                id="inv_model" 
                name="inv_model" 
                placeholder="Min of 3 characters" 
                required 
                pattern="^[a-zA-Z\s]{3,}$"
                value="<%= locals.inv_model %>">
        </div>
        <div class="form-group">
            <label for="inv_description">Description:</label>
            <textarea 
                rows="4" 
                cols="35" 
                id="inv_description" 
                name="inv_description" 
                required
                onfocus="this.classList.add('focused')"
                oninput="this.classList.add('user-interacted')"><%= inv_description %></textarea>
        </div>
        <div class="form-group">
            <label for="inv_image">Image Path:</label>
            <input 
                type="text" 
                id="inv_image" 
                name="inv_image" 
                required 
                value="/images/vehicles/no-image.png">
        </div>
        <div class="form-group">
            <label for="inv_thumbnail">Thumbnail Path:</label>
            <input 
                type="text" 
                id="inv_thumbnail" 
                name="inv_thumbnail" 
                required value="/images/vehicles/no-image-tn.png">
        </div>
        <div class="form-group">
            <label for="inv_price">Price:</label>
            <input 
                type="number" 
                id="inv_price" 
                name="inv_price"
                class="no-spinners" 
                step="0.01"
                placeholder="Decimal or integer" 
                required 
                pattern="^\d+(\.\d{1,2})?$"
                value="<%= locals.inv_price %>">
        </div>
        <div class="form-group">
            <label for="inv_year">Year:</label>
            <input 
                type="number" 
                id="inv_year" 
                class="no-spinners"
                name="inv_year" 
                placeholder="YYYY" 
                required 
                pattern="^\d{4}$"
                maxlength="4"
                value="<%= locals.inv_year %>">
        </div>
        <div class="form-group">
            <label for="inv_miles">Miles:</label>
            <input 
                type="number" 
                id="inv_miles" 
                class="no-spinners"
                name="inv_miles" 
                placeholder="Digits only" 
                required 
                pattern="^\d+$"
                value="<%= locals.inv_miles %>">
        </div>
        <div class="form-group">
            <label for="inv_color">Color:</label>
            <input 
                type="text" 
                id="inv_color" 
                name="inv_color" 
                required 
                value="<%= locals.inv_color %>">
        </div>
        <button type="submit" class="form-button">Update Vehicle</button>
    </fieldset>
    </form>
</div>
</div>

<script>
  document.querySelectorAll('.form-group textarea').forEach(element => {
      element.addEventListener('input', function() {
          if (this.checkValidity()) {
              this.classList.add('valid');
          } else {
              this.classList.remove('valid');
          }
      });
  });
</script>