<h2>Add a Review for <%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>

<div>
    <p><strong>Make:</strong> <%= vehicle.inv_make %></p>
    <p><strong>Model:</strong> <%= vehicle.inv_model %></p>
    <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
    <p><strong>Price:</strong> $<%= vehicle.inv_price.toLocaleString() %></p>
</div>
<% if (errors && errors.length > 0) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li class="flash-message"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<div class="form-container">
<form action="/reviews/add" method="POST">
    <fieldset>
    <input type="hidden" name="inv_id" value="<%= inv_id %>">
    <input type="hidden" name="account_id" value="<%= account_id %>">
    <div class="form-group">
    <label for="review_text">Your Review:</label>
    <textarea id="review_text" name="review_text" required placeholder="Text Required..." cols="40" rows="6"></textarea>
    </div>
    <button type="submit" class="form-button">Submit Review</button>
    </fieldset>
</form>
</div>